[Unit]
Description=Orgarif
After=network.target

[Service]
User=orgarif
Group=orgarif
WorkingDirectory=/data/orgarif
ExecStart=/bin/bash /data/orgarif/start.sh
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target